html {
  text-align: center;
}

p {
  font-family: "Courier New", Courier, monospace;
  background-color: aqua;
}
h1 {
  font-size: 300%;
}
img {
  max-width: 100%;
  max-height: auto;
}
.right {
  float: left;
  width: 300px;
  border: 3px solid #73ad21;
  padding: 10px;
}
a:hover,
h2:hover,
li:hover {
  background-color: green;
}
